<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table>
	 	<tr>
	 		<th>ID</th>
	 		<th>商品名</th>
	 		<th>価格</th>
	 		<th>ジャンルID</th>
	 	</tr>
	 	<tr th:each="item: ${Items}">
	 		<td th:text="${item.id}"></td>
	 		<td th:text="${item.name}"></td>
	 		<td th:text="${item.price}"></td>
	 		<td th:text="${item.genreId}"></td>
	 	</tr>
	</table>
	<a th:href="@{/lesson02_04/index/200/1}">AND条件検索</a>
</body>
</html>